.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-top: 1.5%;
  user-select: none;
}

.navbar_left {
  display: flex;
  gap: 2em;
}

.navbar_right{
    margin-right: 2%;
}

.navbar_link {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.navbar_link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button_disabled {
    cursor: not-allowed!important;
}
